<!DOCTYPE html>
<html>
<head>

<title>Payments</title>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</head>

<body>

<h2>Client Payment</h2>

<button id="pay-btn">Pay ₹500</button>

<script>

var options = {

    "key": "{{ key }}",

    "amount": "{{ order['amount'] }}",

    "currency": "INR",

    "name": "Electrician Contractor System",

    "description": "Client Payment",

    "order_id": "{{ order['id'] }}",

    "handler": function (response){

        window.location.href="/payment_success";

    },

    "theme": {
        "color": "#3399cc"
    }
};

var rzp1 = new Razorpay(options);

document.getElementById('pay-btn').onclick = function(e){

    rzp1.open();

    e.preventDefault();
}

</script>

</body>
</html>